<h1>Amazon</h1>

<div class="line-break"></div>
<div class="summary">
  <img src="images/aws_services.png" alt="AWS Services">
</div>

<div class="line-break"></div>
<div class="summary">
  <img src="images/aws.png" alt="AWS">
</div>

<div class="line-break"></div>
<a href="https://academy.tdsynnex.com/uk/category/amazon-web-services-aws/workshops/" alt="TDS Academy" target="blank">
  <button class="btn-fade">TDS Academy</button></a>
</div>

