<h1>Microsoft</h1>

<div class="line-break"></div>
<div class="summary">
  <img src="images/azure_services.png" alt="Microsoft Services">
</div>

<div class="subject">
  Fast Tracks get your customers certified!
</div>

<div class="summary">
  The new Microsoft Cloud Partner Program (MCPP) has extensive skilling requirements, and we can help your customers to get there - very fast!

  You participate in an official Microsoft Training combining self-study, training and hands-on labs with a certified training and exam preparation and voucher in a condensed time but spread over several weeks<br>
</div>

<div class="row">
  <div class="column">
    Fast Track Examples:
    <ul>
      <li>Azure Administrator</li>
      <li>AZ-500 Microsoft Azure Security Technologies</li>
      <li>MS-100 Microsoft 365 Identity and Services</li>
      <li>SC-100 Microsoft Cybersecurity Architect</li>
      <li>PL-300 Power BI Data Analyst</li>
    </ul>
  </div>
  <div class="column">
    <img src="images/azure_fast_tracks.png">
  </div>
</div>

<div class="line-break"></div>
<div class="summary">
  <img src="images/ms.png" alt="Microsoft">
</div>

<div class="line-break"></div>

<div class="wrapper">
  <a href="mailto:~EU_COE@tdsynnex.com"><button class="btn-fade">Contact Us</button></a>
</div>
