  <h2>Technical Demonstration Survey</h2>
  <form id="surveyForm">
    <div class="flex-2x2-container">
      <div class="flex-2x2-item">
        <label for="name">Your Name:</label>
        <input type="text" name="name" id="name" required>
        <div class="line-break"></div>

        <label for="email">Your Email:</label>
        <input type="email" name="email" id="email">
        <div class="line-break"></div>

        <label for="phone">Your Phone#:</label>
        <input type="text" name="phone" id="phone">
        <div class="line-break"></div>

        <label for="jobrole">Jobrole:</label>
        <input type="text" name="jobrole" id="jobrole">
        <div class="line-break"></div>
      </div>

      <div class="flex-2x2-item">
        <p>How would you rate the technical demonstration or workshop?</p>
        <label><input type="radio" name="rating" value="excellent" required> Excellent</label>
        <label><input type="radio" name="rating" value="good"> Good</label>
        <label><input type="radio" name="rating" value="average"> Average</label>
        <label><input type="radio" name="rating" value="poor"> Poor</label>
      </div>

      <div class="flex-2x2-item">
        <p>What did you like most about the demonstration/workshop?</p>
        <textarea name="liked" rows="3"></textarea>
      </div>

      <div class="flex-2x2-item">
        <p>What areas do you think could be improved?</p>
        <textarea name="improvements" rows="3"></textarea>
      </div>

      <div class="line-break"></div>
      <input type="submit" value="Submit Survey">

    </div>
  </form>

  <script src ="../assets/js/feedback.js"></script>
