<h1>CoE Mission</h1>

<div class="line-break"></div>

<div>
  <img src="images/coe_mission.png">
</div>

<div class="line-break"></div>

<div class="subject">
  Achieve great outcomes with our Centre of Excellence (CoE)
</div>

<div class="line-break"></div>

<div class="summary">
  The CoE consists of over 13 lead architect SMEs across Europe, currently offering expert knowledge of over 35 certified specialties. Our blackbelt team designs, architects and implements cloud solutions, augmenting our partners&rsquo; technical skills to deliver digital transformation. Constantly supporting partners&rsquo; technology demands, our Microsoft, Amazon, Google, HPE and Red Hat certified specialists cover a vast range of solutions to solve the most common and complex IT problems. The CoE integrates strengths across vendors, ensuring every partner has access to the best advice and solutions they need to grow their business. Working alongside existing practices, the CoE assesses, implements proof of concept and enables new solutions to complement current offerings.
</div>

<div class="line-break"></div>
<div> 
  <img src="images/coe_caps_0.png">
</div>

<div class="line-break"></div>
<div> 
  <img src="images/coe_caps_1.png">
</div>

<div class="line-break"></div>

<div class="wrapper">
  <a href="mailto:~EU_COE@tdsynnex.com"><button class="btn-fade">Contact Us</button></a>
</div>


