<h1>Red Hat</h1>

<div class="line-break"></div>
<div class="summary">
  <h2>Our Certifications</h2>
</div>

<div class="line-break"></div>
<div>
  <img src="images/redhat.png">
</div>

<div class="line-break"></div>
<h2>Our Services</h2>

<div class="line-break"></div>
<div class="summary">
  <p> The Red Hat department of the Center Of Excellence (COE) provides an extensive range of services centered on Red Hat and Opensource technologies. These services are designed to assist individuals and organizations in leveraging the full potential of these technologies to meet their specific needs and objectives.

  <div class="flex-2x4-container">
    <div class="flex-2x4-item" data-tooltip="The department offers workshops that can be tailored to different time frames, ranging from one-hour sessions to workshops spanning multiple days.">
      Workshop
    </div>

    <div class="flex-2x4-item" data-tooltip="When you have a new project in mind that involves Red Hat or Opensource products, the CoE will provide expert support during the design phase.">
      Design Phase
    </div>

    <div class="flex-2x4-item" data-tooltip="For complex or innovative projects, the CoE offers assistance in conducting proofs of concepts.">
      Proof Of Concepts
    </div>

    <div class="flex-2x4-item" data-tooltip="Understanding the differences and capabilities of various Red Hat and Opensource products is crucial for making informed decisions when choosing the right technology for a specific project.">
      Product Comparison
    </div>

    <div class="flex-2x4-item" data-tooltip="When you are ready to move forward with a project, the department will aid in defining the Statement of Work.">
      Statement Of Work Definition
    </div>

    <div class="flex-2x4-item" data-tooltip="Once the project is underway, the Red Hat COE will provide technical expertise and support during the implementation phase.">
      Implementation Support
    </div>

    <div class="flex-2x4-item" data-tooltip="Effective project management is crucial for keeping projects on track and within budget.">
      Project Management
    </div>

    <div class="flex-2x4-item" data-tooltip="Proper documentation is essential for knowledge sharing, maintenance, and future reference.">
      Documentation
    </div>

  </div>

Overall, the Red Hat department of the Center Of Excellence is committed to providing comprehensive support to individuals and organizations seeking to adopt Red Hat and Opensource technologies. Whether you need training, guidance, or hands-on assistance throughout your project, our services aim to facilitate a successful and seamless implementation of these powerful tools.
</div>

<div class="line-break"></div>

<div id="dynamic-script-container"></div>

<h2>Red Hat Workshops and Demos</h2>

<div class="line-break"></div>

<div "table-container" id="data-table"></div>
<button class="btn-fade" id="loadMore">Load More</button>
<button class="btn-fade" id="backToBeginning">Back to Beginning</button>
<div class="line-break"></div>

<div>
<a href='https://outlook.office365.com/owa/calendar/COERHDemoBookings@tdworldwide.onmicrosoft.com/bookings/' target="blank">
  <button class="btn-fade">Schedule a meeting with us</button></a>
</div>

<div>
<a href="index.html?page=feedback" data-content="feedback" target="blank">
  <button class ="btn-fade">Workshop Feedback</button></a>
</div>
