<h1>SAP Content</h1>

<div class="summary">
  <p> The CoE unattended SAP strategy allows to size, price and create SAP and nonSAP related infrastructures. Via this approach TD SYNNEX is able to offer a bullet-proof starting point for the entry in <b>AWS, Azure and soon Google</b>. It consists of 2 phases:
  <ul>
    <li>Sizing and pricing</li>
    <li>Deployment</li>
  </ul>

  <img src="images/sap_hosts.png" alt="SAP Hosts">
  <div class="line-break"></div>

  The architectural approach also consists out of 2 phases:

  <ul>
    <li>Network VMs and Backup.</li>
    <img src="images/sap_network.png" alt="SAP Networks">
    <li>SAP SW installation:SAP HANA, SAP HANA System Replication, SAP HANA System replication and Pacemaker cluster. S4HANA, BW4HANA, Solutionmanager, Netweaver.</li>
  </ul>

<p>As of this time Business One solutions are supports as we are able to create and prepare the VMs. This is Linux (SLES and RHEL) for "B1 for HANA". Windows SQL for "B1 for SQL". Windows Desktop Servers (for directly connecting B1 users via RDP - additional RDP licenses required). AVD VMs, for B1 users. All VMs need to have a valid OS License (either from Azure or self-provided), except for AVD, where the connecting users need to be licensed and not the OS. We can also install the SAP HANA DB. The unattended deployment of B1 software is planned, but this work has not yet been started. AVD can be provided only in its most basic form for now and depending on the request.

<p>The CoE can provide the foundation for Migration, but not the migration itself (except in very simple cases where DB backup and restore can be used). But we can help with the migration, since we have SAP migration certified personnel available.

<p>The planning phase requires typically one short session for the proposal, another short session for the technical clarifications (IP Ranges, etc). And after the SOW has been signed by the partner the deployment can start. (Which requires typically less than 24 hours, if all conditions are met). We do this for a fixed price, which is automatically determined in the first sizing and pricing session.

<p>THE CoE DOES NOT PROVIDE FULL MIGRATIONS, BUT CAN ASSIST AND RECOMMEND AND THUS HELP DOING A MIGRATION. FOR THIS CoE COOPERATES WITH THE SAP PARTNER OF CUSTOMER CHOICE (WHICH SHOULD ALWAYS BE ALREADY AVAILABLE)

<p>SAP SW Installations (HANA, HSR, CLUSTER, S4HANA, etc) is also a fixed item from our services catalog

<div class="line-break"></div>

</div>

<div class="line-break"></div>

<div class="wrapper">
  <a href="mailto:~EU_COE@tdsynnex.com"><button class="btn-fade">Contact Us</button></a>
</div>
