body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Merriweather', serif;
}

h1, h2, h3 {
  color: #cad82b;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #d3d3d3;
  flex: none;
  height: 5%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.header img {
  max-width: 130%;
  max-height: 130%;
}

.navigation {
  background-color: #f0f0f0;
  flex: none;
  height: 10%;
  display: flex; /* Use flexbox for the navigation container */
  justify-content: space-around; /* Distribute images evenly along the line */
  align-items: center;
}

.navigation img {
  max-width: 100px; /* Set a maximum width for the images */
  max-height: 100px; /* Set a maximum height for the images */
}

.main {
  background-color: #005758;
  flex: 75%;
  margin: 0% 15% 0%;
  display: flex; /* Use flexbox for the main container */
  flex-wrap: wrap; /* Allow images to wrap to the next row if needed */
  justify-content: center; /* Center horizontally */
}

.main img {
  max-width: 90%; /* Set a maximum width for the images */
  margin: 0% 5% 0%;
}

.footer {
  background-color: #d3d3d3;
  flex: none;
  height: 5%;
  font-size: 8px;
}

.subject {
  color: #cad82b;
  font-size: 18px;
  margin: 10px;
}

.summary {
  font-size: 16px; 
  line-height: 2;
  margin: 0% 5% 0%;
  color: #ffffff;
}

.row {
  display: flex;
  width: 80%; /* Adjust this value to control the width of the whole container */
  max-width: 800px; /* Set a maximum width for the container */
}

.column {
  flex: 1;
  height: 100%;
  padding: 10px;
  font-size: 16px; 
  color: #ffffff;
  line-height: 2;
}

.column:first-child {
  flex: 0 0 65%;
}

.column:last {
  flex: 0 0 35%;
}

/* Styling for the table */
.table-container {
  color: #ffffff;
  display: table;
  width: 100%;
  border: none;
  margin: 0% 10% 0%;
}

.table-header,
.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 8px;
  color: #ffffff;
}

.table-header {
  font-weight: bold;
}

.line-break {
  width: 100%;
}

.flex-2x4-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-2x4-item {
  position: relative;
  flex: 0 0 calc(25% - 20px); /* Four columns with 20px spacing in between */
  margin: 10px;
  padding: 20px;
  background-color: #057583;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: thick double #32a1ce;
  border-radius: 15px;
}

.flex-2x4-item::before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  padding: 5px 10px;
  background-color: #077793;
  color: #fff;
  border: thick double #32a1ce;
  border-radius: 15px;
  z-index: 1;
  border: 
}

.flex-2x4-item:hover::before {
   display: block;
}

.flex-2x2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-2x2-item {
  position: relative;
  flex: 0 0 calc(50% - 25px);
  margin: 5%;
  padding: 5%;
  background-color: #057583;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: thick double #32a1ce;
  border-radius: 15px;
}

dl {
  display: flex;
  flex-flow: row wrap;
}

dt {
  flex-basis: 20%;
  padding: 2px 4px;
  background: #666;
  text-align: right;
  color: #fff;
}

dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid #666;
  color: #fff;
}

.btn-fade {
  font-size: 24px;
  background-color: #005758;
  color: #cad82b;
  border: thick double #32a1ce;
  border-radius: 15px;
  padding: 15px;
  margin: 20px; 
  opacity: 0.6;
  transition: 0.3s;
}

.btn-fade:hover {opacity: 1}
