<p>&copy; 2023 Center Of Excellence. All rights reserved.
TD SYNNEX UK and the TD SYNNEX logo are registered trademarks of TD SYNNEX Corporation in the United States and other countries. All other trademarks are the property of their respective owners. © (1994-2022) TD SYNNEX Corporation. <a href="https://eu.tdsynnex.com/InTouch/MVC/Microsite/Public?categorypageid=1178&msmenuid=15152&corpregionid=50&culture=en-GB">Privacy Notice</a>. All rights reserved.</p>

